// header.scss

// Header

.header {

    @media screen and (min-width: 768px) {
        box-shadow: 0 0 1px 1px #E5E5E5;
        background: #FFF;
    } 

    &__container {

        @media screen and (min-width: 768px) {
            display: flex;
            max-width: 768px;
            margin: 0 auto;
            padding: 0 18px;
        }

        @media screen and (min-width: 1366px) {
            max-width: 1120px;
            padding: 0 10px;
        }

        @media screen and (min-width: 1920px) {
            max-width: 1520px;
        }
    }

    &__section {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 6px 0 20px;
        background: #FFF;

        @media screen and (min-width: 768px) {
            flex: 1 1 auto;
            position: static;
            padding: 0;
        }

        &::before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            display: block;
            width: 100%;
            height: 100%;
            background: #FFF;
            box-shadow: 0 0 1px 1px #E5E5E5;

            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }


    &__link {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            margin: 0 auto;
            order: 1;
        }

        @media screen and (min-width: 1366px) {
            display: none;
        }
    }

    &__logo {
        position: relative;
        z-index: 4;
        margin-right: auto;

        @media screen and (min-width: 768px) {
            z-index: auto;
        }
    }

    &__search {
        flex: 0 0 auto;
    }

    &__bricks {
        position: relative;
        z-index: 1;
        display: flex;

        @media screen and (min-width: 768px) {
            z-index: auto;
            min-width: 320px;
        }

        @media screen and (min-width: 1366px) {
            margin-left: 37px;
            min-width: 430px;
        }

    }

    &__brick {
        flex: 1 1 auto;
        min-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 8px;
        background: #3166B4;

        @media screen and (min-width: 1366px) {
            padding: 33px 16px;
        }

        &:not(:first-child) {
            border-left: 1px solid #F3F7FA;
        }

        &-text {
            line-height: 18px;
            font-size: 15px;
            color: #FFF;

            @media screen and (min-width: 1366px) {
                line-height: 20px;
                font-size: 16px;
            }
        }

        &-icon {
            display: none;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            fill: #FFF;
            stroke: #FFF;
            stroke-width: .5;

            @media screen and (min-width: 1366px) {
                display: block;
            }
        }
    }



    
}