// logo.scss

// Logo

.logo {

    &__link,
    img {
        display: block;
    }

    &__picture {
        display: block;

        &--mobile,
        &--desktop {
            display: none;
        }

        &--mobile {
            @media screen and (max-width: 1365px) {
                display: block;
            }
        }

        &--desktop {
            @media screen and (min-width: 1366px) {
                display: block;
            }
        }

    }

}